.car-advantages {
  padding: 40px 0;
  
.container {
  max-width: 1461px;
  margin: 0 auto;
  padding: 0 15px;
}

&__title-main  {
font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 50px;
line-height: 69px;
letter-spacing: 0%;

}

&__layout {
  display: grid;
  grid-template-columns: 1fr 380px;
  // gap: 40px;
}

&__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // gap: 20px 40px;
}

&__item {
  display: flex;
  align-items: center;
  gap: 12px;
}

&__line--red {
  width: 18px;
  height: 4px;
  background: #ff002b;
  border-radius: 4px;
}

&__item p {
  font-size: 16px;
  font-weight: 500;
  color: #222;
}

&__example {
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #dce4ef;
  box-shadow: 0 6px 24px rgba(0,0,0,0.08);
}

&__image img {
  width: 100%;
  border-radius: 12px;
}

&__example h5 {
font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 24px;
line-height: 34px;
letter-spacing: 0%;

}

&__example p {
font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 22px;
letter-spacing: 0%;

}

&__arrows {
  display: flex;
  gap: 10px;
}

&__arrows img {
  width: 42px;
  height: 42px;
  padding: 10px;
  background: #fff;
  border-radius: 50%;
  border: 1px solid #ddd;
  cursor: pointer;
}
&__arrows  :hover {
    border: 1px solid  #ff002b;
}
}
@media (max-width: 480px) {

  .car-advantages {
    padding: 25px 0;
  }

  .car-advantages__title-main {
    font-size: 22px;
    flex-direction: column;
  }

  .car-advantages__example {
    padding: 15px;
  }

  .car-advantages__example h5 {
    font-size: 18px;
  }

  .car-advantages__example p {
    font-size: 14px;
  }

  .car-advantages__arrows img {
    width: 38px;
    height: 38px;
  }
}