.car-expenses {
  width: 100%;
  background: #F4F6F8;
  padding: 80px 0;

  .container {
    max-width: 1200px;
    margin: 0 auto;
  }

  &__title h2 {
    font-size: 32px;
    margin-bottom: 40px;
    font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 50px;
line-height: 69px;
letter-spacing: 0%;

  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
margin-top: 42px;
    @media (max-width: 1024px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 640px) {
      grid-template-columns: 1fr;
    }
  }

  &__card {
    position: relative;
    padding: 32px;
    background: #fff;
    border-radius: 30px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.1);
    min-height: 260px;
    display: flex;

  }

  &__text {
    span {
      font-size: 22px;
      // display: block;
      padding-bottom: 30px;
      font-family: Montserrat;
font-style: SemiBold;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;

    }

    p {
      opacity: 0.7;
      font-size: 14px;
      font-family: Montserrat;
font-weight: 400;
font-style: Regular;
line-height: 26px;
letter-spacing: 0%;
padding-top: 16px;
      line-height: 1.4;
    }

    h2 {
    font-family: Montserrat;
font-weight: 600;
font-style: SemiBold;
font-size: 36px;
line-height: 100%;
letter-spacing: 0%;
align-items: flex-end;
    }

    &.white span,
    &.white p,
    &.white h2 {
      color: #fff;
    }
  }

  &__car-expenses--image {
    background-image: url('/assets/images/Kia-Mohave-8-11.png');
    background-position: center;
    color: #fff;
    overflow: hidden;
    gap: 36px   ;

 
  }

  &__hr {
    margin-top: 50px;
  }
  &__choose {
    display: flex;
    align-items: center;
    gap: 71px;
        margin-top: 24px;

    p {
        font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 30px;
line-height: 100%;
letter-spacing: 0%;
    }
    h2 {
        font-family: Montserrat;
font-weight: 600;
font-style: SemiBold;
font-size: 60px;
line-height: 100%;
letter-spacing: 0%;
text-align: right;
    }
  }
  &__minus {
    width: 23px;
height: 4px;
opacity: 1;
border-radius: 1px;
background-color: #E20025;
  }
  &--red {
    color: #E20025;

  }
}