.footer {
    width: 1920px;
height: 287px;
opacity: 1;
background-color: #EEEEEE;
.container {
    margin: 110px auto;
    display: flex;
    justify-content: space-between;
}
&__logo {
    img {
        background: none;
    }
    margin-top: 50px;
p {
    font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 16px;
display: inline-block;
line-height: 22px;
letter-spacing: 0%;
margin-top: 16px;

}
}
&__country {
    padding-top: 59px;
    padding-left: 92px;

    ul {
        list-style: none;
    }
    li a {
        text-decoration: none;
        font-family: Montserrat;
font-weight: 500;
font-style: Medium;
font-size: 20px;
line-height: 2.1;
letter-spacing: 0%;
    }
}
&__menu {
    margin-left: 89px;
    margin-top: 59px;
    ul {
        list-style: none;
    }
    li a {
        text-decoration: none;
font-family: Montserrat;
font-weight: 500;
font-style: Medium;
font-size: 18px;
line-height: 2.1;
letter-spacing: 0%;

    }
}
&__contact {
    margin-top: 54px;
    button {
padding: 16px 28px 16px 28px;
align-items: center;
opacity: 1;
margin-left: 295px;
border-radius: 8px;
background-color: $primary-color;
a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;
text-align: center;

}
    }
}
&__location {
    display: flex;
    padding-top: 16px;
justify-content: center;
padding-left: 280px;
    gap: 6px;
    align-items: center;
    p {
        font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 22px;
letter-spacing: 0%;

    }
}
}