.car-market {
    width: 1440px;
height: 865px;
opacity: 1;
margin-top: 120px;
.container {
    margin: 0 228px;
}
&__title {
    h2 {
        font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 50px;
line-height: 69px;
letter-spacing: 0%;

    }
}
&__cards {
    margin-top: 32px;
    display: flex;
}
&__card {
    width: 461px;
height: 764px;
opacity: 1;
margin-right: 29px;
box-shadow: 0px 2px 50px 0px #0000001F;

img {
        width: 431px;
height: 270px;
opacity: 1;
top: 3001px;
left: 745px;
opacity: 1;
    padding: 15px 15px 24px 15px;
    border-radius: 16px;
    }
    h3 {
        padding-left: 32px;
        font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 24px;
line-height: 34px;
letter-spacing: 0%;

    }
}
&__character {
    margin-top: 16px;
    padding-left: 32px;
}
&__speed {
    display: flex;
    font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 22px;
letter-spacing: 0%;

}
&__km span {
color: #000000;
}
&__year {
    display: flex;
        font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 22px;
letter-spacing: 0%;
}
&__fuel {
    display: flex;
        font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 22px;
letter-spacing: 0%;
}
&__motor {
    display: flex;
        font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 22px;
letter-spacing: 0%;
}
&__form {
    display: flex;
        font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 22px;
letter-spacing: 0%;

}

 &__important {
        span {
        font-family: Montserrat;
font-weight: 500;
font-style: Medium;
font-size: 25px;
padding-top: 15px;
padding-left: 32px;
line-height: 100%;
letter-spacing: 0%;
    }
    p {
        font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 20px;
padding-top: 3px;
padding-left: 32px;
letter-spacing: 0%;

    }
}
&__cost {
    display: flex;
}
&__cheap {
    float: right;
    width: 220px;
height: 105px;
border-top-left-radius: 26px;
border-bottom-left-radius: 26px;
margin-right: 7px;
padding-bottom: 100px;
opacity: 1;
background-color: #FEE5E9;

h3 {
    font-family: Montserrat;
font-weight: 800;
font-style: ExtraBold;
font-size: 24px;
line-height: 100%;
letter-spacing: 0%;
padding-top: 16px;
padding-left: 22px;
    color: $primary-color;

}
p {
    font-family: Montserrat;
font-weight: 400;
font-style: Regular;
font-size: 16px;
line-height: 20px;
letter-spacing: 0%;
padding-top: 4px;
padding-left: 22px;
color: #2B2B2B;
}
}
&__button button{
    width: 397px;
height: 72px;
    margin: 24px 32px 32px 30px;
padding: 26px 58px;
opacity: 1;
border-radius: 14px;
background-color: $primary-color;
color: #FFFFFF;
font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
border: none;
}
}