.sell-process {
opacity: 1;
position: relative;
background-color: #F4F6F8;
width: 100%;

.container {
        width: 1445px;
        height: 724px;
        margin: 150px auto;
}
&__title {
    //  padding: 120px 240px;
     h2 {
        font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 50px;
line-height: 69px;
letter-spacing: 0%;
color: $secondary-color;
     } 
     p {
        font-family: Montserrat;
font-weight: 500;
font-style: Medium;
font-size: 24px;
line-height: 34px;
margin-top: 24px;
letter-spacing: 0%;
padding-bottom: 50px;

     }
}
&__num p{
    font-family: Montserrat;
font-weight: 500;
font-style: Medium;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;
    padding: 24px 40px;
}
&__cards {
    display: flex;
  // pad-top: 70px;
}
&__card {
    display: flex;
    width: 358px;
    height: 229px;
    transition: all 0.4s ease-in-out;
    h1 {
        font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 60px;
line-height: 69px;
letter-spacing: 0%;
color: $primary-color;
    padding-left: 40px;
}
}
&__line {
align-items: center;
display: flex;
gap: 32px;
}
&__middle-line {
position: absolute;
bottom:205px;
}
&__cards {
    display: flex;
    position: relative;
}  
 &__card:hover {
    background-color: #FFFFFF;
    box-shadow: 0px 2px 50px 0px #23252612;
border-radius: 22px;
transform: scale(0.1s);
 }
}.sell-help {
  width: 1426px;
  margin: 0 auto;
border-image-source: linear-gradient(180deg, rgba(231, 231, 231, 0) 0%, rgba(231, 231, 231, 0.78) 37.09%, #E7E7E7 100%);
background-color: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%);
  height: 851px;
  box-shadow: 0px 2px 50px 0px #23252612;
  opacity: 1;
  background-image: url('/assets/images/help-bg-color.png');

  .container {
    max-width: 100%;
    display: flex;
  }

  &__left-enter {
    width: 549px;
    height: 525px;
    margin-right: 100px;
    margin-top: 100px;
    box-shadow: 0px 2px 50px 0px #23252612;
    border-radius: 22px;
    border: 1px solid red;
    background-color: #FFFFFF;

    h2 {
      font-size: 50px;
      padding-top: 50px;
      padding-left: 50px;
    }

    p {
        height: 52px;
      font-size: 18px;
      margin-top: 24px;
      font-family: Montserrat;
font-weight: 500;
font-style: Medium;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;

      padding-left: 50px;
      padding-right: 100px;
    }

    input {
        width: 449px;
      border-radius: 14px;
    
      color:#000000;
      font-family: Montserrat;
font-weight: 700;
margin-top: 36px;
font-style: Bold;
margin-left: 50px;
padding: 26px  367px 26px 24px;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;
      border: 1px solid #C9C9C9;
    }

    button {
      padding: 26px 36px;
      border-radius: 14px;
      color: #FFFFFF;
      margin-left: 50px;
      font-family: Montserrat;
font-weight: 700;
font-style: Bold;
font-size: 16px;
      border: none;
      background-color: $primary-color;
      box-shadow: 0px 12px 60px 0px #FA002C66;

    }

    img {
      margin-left: 42px;
      margin-top: 15.5px;
    }
  }

  &__right-type {
    width: 324px;
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 20px; 

    img {
      height: auto;
      display: block;
    }
  }

  &__type {
    width: 264px;
    height: 128px;
    img {
       width: 60px;
height: 60px;
padding: 12px 12px;
opacity: 1;
border: 3px solid #FA002C26;
    }
    span {
        font-family: Montserrat;
font-weight: 500;
font-style: Medium;
font-size: 14px;
line-height: 26px;
letter-spacing: 0%;

    }
  }
}