.banner{
    background-image: url('/assets/images/bg-color.png') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 1920px;
    width: auto;
    height: 840px;
}

.container {
    width: 1461px;
    margin: 0 auto;
    justify-content: center;
}
.navbar {
width: 1457px;
height: 69px;
opacity: 1;
display: flex;
align-items: center;
justify-content: space-between;
&__logo img {
background: none;

}
&__list ul {
    display: flex;
    list-style: none;
    gap: 48px;
    li a {
     text-decoration: none;
     font-family: Montserrat;
font-weight: 500;
font-style: Medium;
font-size: 16px;
line-height: 100%;
letter-spacing: 0%;
color: $secondary-color;
    }
}
&__button {
padding: 16px 28px;
opacity: 1;
border-radius: 8px;
background-color: $primary-color;
text-decoration: none;
 a {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;
text-align: center;

 }
}
}
.hero {
       width: 100%;
       position: relative;
    // overflow: hidden;
    &__left {
        width: 709px;
height: 595px;
opacity: 1;
border-radius: 24px;
background-color: #FFFFFFb3 ;
margin-top: 61px;
margin-left: 240px;
border: 1px solid #FFFFFF;
    }
    &__title  {
        font-family: Montserrat;
font-weight: 800;
font-style: ExtraBold;
font-size: 70px;
line-height: 90px;
letter-spacing: 0%;
text-transform: uppercase;
padding: 50px 50px;
    }

    &__advantage-1 {
        align-items: center;
        display: flex;
        gap: 10px;
        padding-left: 50px;
        span {
            font-family: Montserrat;
font-weight: 600;
font-style: SemiBold;
font-size: 26px;
line-height: 36px;
letter-spacing: 0%;

        }
    }
    &__link {
        width: 481px;
height: 80px;
opacity: 1;
        display: flex;
        align-items: center;
        gap: 30px;
        button {
padding: 16px 24px;
border-radius: 8px;
font-family: Poppins;
font-weight: 700;
font-style: Bold;
font-size: 18px;
line-height: 26px;
letter-spacing: 0%;
text-align: center;
background-color: $primary-color;
color: #FFFFFF;
border: none;
margin-left: 50px;
        }
    }
    &__right-image img {
       width: clamp(1500px,40vw,2000px);
       height: auto;
        position: absolute;
    //   left: 600px;
      right: 190px;
    bottom: -200px;
      //   background: linear-gradient(89.85deg, #000000 3.61%, rgba(0, 0, 0, 0) 94.97%);
    }
}
